--
-- PostgreSQL database dump
--

-- Dumped from database version 16.3
-- Dumped by pg_dump version 16.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: book; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.book (
    book_id integer NOT NULL,
    title character varying NOT NULL,
    author character varying NOT NULL,
    publisher character varying NOT NULL,
    creation_year integer NOT NULL
);


ALTER TABLE public.book OWNER TO postgres;

--
-- Name: book_book_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.book ALTER COLUMN book_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.book_book_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: description; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.description (
    description_id integer NOT NULL,
    description text,
    book_id integer
);


ALTER TABLE public.description OWNER TO postgres;

--
-- Name: description_description_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.description ALTER COLUMN description_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.description_description_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: genre; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.genre (
    genre_id integer NOT NULL,
    genre character varying NOT NULL,
    book_id integer
);


ALTER TABLE public.genre OWNER TO postgres;

--
-- Name: genre_genre_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.genre ALTER COLUMN genre_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.genre_genre_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.history (
    id integer NOT NULL,
    person_id integer,
    book_id integer,
    assign_date timestamp without time zone,
    release_date timestamp without time zone
);


ALTER TABLE public.history OWNER TO postgres;

--
-- Name: history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.history ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: linkage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.linkage (
    id integer NOT NULL,
    person_id integer,
    book_id integer
);


ALTER TABLE public.linkage OWNER TO postgres;

--
-- Name: linkage_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.linkage ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.linkage_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: person; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.person (
    person_id integer NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL
);


ALTER TABLE public.person OWNER TO postgres;

--
-- Name: person_person_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.person ALTER COLUMN person_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.person_person_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: photos_url; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.photos_url (
    photo_url_id integer NOT NULL,
    photo_url character varying NOT NULL,
    book_id integer
);


ALTER TABLE public.photos_url OWNER TO postgres;

--
-- Name: photos_url_photo_url_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.photos_url ALTER COLUMN photo_url_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.photos_url_photo_url_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.type (
    type_id integer NOT NULL,
    type character varying NOT NULL,
    book_id integer
);


ALTER TABLE public.type OWNER TO postgres;

--
-- Name: type_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.type ALTER COLUMN type_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.type_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: utilizer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.utilizer (
    user_id integer NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    password character varying NOT NULL
);


ALTER TABLE public.utilizer OWNER TO postgres;

--
-- Name: utilizer_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.utilizer ALTER COLUMN user_id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.utilizer_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: book; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.book (book_id, title, author, publisher, creation_year) FROM stdin;
1	It Ends with Us: A Novel	Colleen Hoover	Colleen Hoover	2016
\.


--
-- Data for Name: description; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: genre; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.genre (genre_id, genre, book_id) FROM stdin;
1	Fiction	\N
2	Non-Fiction	\N
3	Science Fiction	\N
4	Fantasy	\N
5	Mystery	\N
6	Thriller	\N
8	Historical	\N
9	Biography	\N
10	Self-Help	\N
11	Cookbook	\N
12	Travel	\N
13	Science	\N
14	Childrens	\N
15	Young Adult	\N
16	Horror	\N
17	Classic	\N
18	Poetry	\N
19	Adventure	\N
20	Graphic Novel	\N
21	Memoir	\N
22	Philosophy	\N
23	Religion	\N
24	Health	\N
25	Business	\N
26	Politics	\N
27	Psychology	\N
28	Education	\N
29	Art	\N
30	Sports	\N
31	Music	\N
32	Technology	\N
7	Romance	1
\.


--
-- Data for Name: history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.history (id, person_id, book_id, assign_date, release_date) FROM stdin;
1	1	1	2024-08-21 15:47:52.344	2024-08-21 15:48:54.715
2	1	1	2024-08-22 12:35:49.097	2024-08-22 12:35:50.443
3	1	1	2024-08-22 12:36:13.573	2024-08-22 12:36:40.698
\.


--
-- Data for Name: linkage; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.linkage (id, person_id, book_id) FROM stdin;
\.


--
-- Data for Name: person; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.person (person_id, name, email) FROM stdin;
1	Jenia Juja	juja@gmail.com
\.


--
-- Data for Name: photos_url; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.photos_url (photo_url_id, photo_url, book_id) FROM stdin;
1	https://m.media-amazon.com/images/I/813aV273-rL._SL1500_.jpg	1
\.


--
-- Data for Name: type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.type (type_id, type, book_id) FROM stdin;
1	Educational	\N
2	Popular science	\N
3	Scientific	\N
4	Reference	\N
5	Fiction	\N
6	Non-Fiction	1
\.


--
-- Data for Name: utilizer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.utilizer (user_id, name, email, password) FROM stdin;
1	Name	meil@meil.com	123456
\.


--
-- Name: book_book_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.book_book_id_seq', 1, true);


--
-- Name: description_description_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.description_description_id_seq', 1, true);


--
-- Name: genre_genre_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.genre_genre_id_seq', 32, true);


--
-- Name: history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.history_id_seq', 3, true);


--
-- Name: linkage_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.linkage_id_seq', 3, true);


--
-- Name: person_person_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.person_person_id_seq', 1, true);


--
-- Name: photos_url_photo_url_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.photos_url_photo_url_id_seq', 1, true);


--
-- Name: type_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.type_type_id_seq', 6, true);


--
-- Name: utilizer_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.utilizer_user_id_seq', 1, true);


--
-- Name: book book_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.book
    ADD CONSTRAINT book_pkey PRIMARY KEY (book_id);


--
-- Name: description description_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.description
    ADD CONSTRAINT description_pkey PRIMARY KEY (description_id);


--
-- Name: genre genre_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genre
    ADD CONSTRAINT genre_pkey PRIMARY KEY (genre_id);


--
-- Name: history history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.history
    ADD CONSTRAINT history_pkey PRIMARY KEY (id);


--
-- Name: linkage linkage_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.linkage
    ADD CONSTRAINT linkage_pkey PRIMARY KEY (id);


--
-- Name: person person_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.person
    ADD CONSTRAINT person_pkey PRIMARY KEY (person_id);


--
-- Name: photos_url photos_url_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photos_url
    ADD CONSTRAINT photos_url_pkey PRIMARY KEY (photo_url_id);


--
-- Name: type type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.type
    ADD CONSTRAINT type_pkey PRIMARY KEY (type_id);


--
-- Name: utilizer utilizer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.utilizer
    ADD CONSTRAINT utilizer_pkey PRIMARY KEY (user_id);


--
-- Name: description description_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.description
    ADD CONSTRAINT description_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.book(book_id) ON DELETE SET NULL;


--
-- Name: genre genre_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.genre
    ADD CONSTRAINT genre_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.book(book_id) ON DELETE SET NULL;


--
-- Name: history history_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.history
    ADD CONSTRAINT history_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.book(book_id) ON DELETE SET NULL;


--
-- Name: history history_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.history
    ADD CONSTRAINT history_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.person(person_id) ON DELETE SET NULL;


--
-- Name: linkage linkage_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.linkage
    ADD CONSTRAINT linkage_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.book(book_id) ON DELETE CASCADE;


--
-- Name: linkage linkage_person_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.linkage
    ADD CONSTRAINT linkage_person_id_fkey FOREIGN KEY (person_id) REFERENCES public.person(person_id) ON DELETE CASCADE;


--
-- Name: photos_url photos_url_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.photos_url
    ADD CONSTRAINT photos_url_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.book(book_id) ON DELETE SET NULL;


--
-- Name: type type_book_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.type
    ADD CONSTRAINT type_book_id_fkey FOREIGN KEY (book_id) REFERENCES public.book(book_id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

