<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Home</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/scripts.js" defer></script>
</head>
<body>

<!-- Log Out button -->
<a class="btn logout-btn" th:href="@{/home/logout}" th:if="${isLoggedIn}">Log Out</a>

<div class="container">
    <h1>Welcome to the Library!</h1>

    <!-- Visible when not logged in -->
    <div class="buttons" th:if="${!isLoggedIn}">
        <a class="btn" th:href="@{home/login}">Log In</a>
        <a class="btn" th:href="@{home/register}">Register</a>
    </div>

    <!-- Visible after login -->
    <div class="buttons" th:if="${isLoggedIn}">
        <a class="btn" th:href="@{/people}">Readers</a>
        <a class="btn" th:href="@{/books}">Books</a>
        <br>
        <a class="btn" th:href="@{/history}">History</a>
    </div>

<!--    <div class="buttons">-->
<!--        <a class="btn" th:href="@{/people}">Readers</a>-->
<!--        <a class="btn" th:href="@{/books}">Books</a>-->
<!--        <br>-->
<!--        <a class="btn" th:href="@{/history}">History</a>-->
<!--    </div>-->

</div>

<div class="footer">
    <p>Created by </p>
    <p>Email: jeniaainej080731@gmail.com | Phone: (123) 456-7890 | @jeniaainej080731</p>
    <p>&copy; 2024 JeniaaineJ</p>
</div>
</body>
</html>
